# Pandas Objects

Based on https://pandas.pydata.org/pandas-docs/stable/10min.html

In [30]:
import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt

### Series
A typed-list of values.  Can be of any type including complex objects.

In [20]:
s1 = pd.Series([1,2,3])
s1

0    1
1    2
2    3
dtype: int64

Note, that currently Pandas series will cast integers to floats if a NAN value exists within the list.  This may be unexpected and could require a cast operation.

In [35]:
s2 = pd.Series([1,2,3, np.nan])
s2

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

It's not currently possible to convert this `Series` back to integer without first dropping the `NaN` values.  This may be possible in Pandas 2.0.

In [33]:
s2.dropna().apply(int)

0    1
1    2
2    3
dtype: int64

Store multiple data-types in a single `Series`.

In [34]:
s3 = pd.Series([1,True,'a', np.pi])
s3

0          1
1       True
2          a
3    3.14159
dtype: object